vk_fun( PFN_vkVoidFunction, vkGetInstanceProcAddr, (VkInstance instance, const char* pName))
vk_fun( VkResult, vkCreateWin32SurfaceKHR, (
    VkInstance                                  instance,
    const VkWin32SurfaceCreateInfoKHR*          pCreateInfo,
    const VkAllocationCallbacks*                pAllocator,
    VkSurfaceKHR*                               pSurface))
vk_fun( VkResult, vkCreateInstance,(
    const VkInstanceCreateInfo*                 pCreateInfo,
    const VkAllocationCallbacks*                pAllocator,
    VkInstance*                                 pInstance)